apiVersion: apps/v1
kind: Deployment
metadata:
  name: customer
  labels:
    app: customer
    version: v1
spec:
  replicas: 1
  selector:
    matchLabels:
      app: customer
      version: v1
  template:
    metadata:
      labels:
        app: customer
        version: v1
    spec:
      containers:
      - name: customer-container
        image: navkkrnair/istio-customer:1.0
        imagePullPolicy: Always
        ports:
          - name: http
            containerPort: 8080   
            protocol: TCP
        securityContext:
          privileged: false