apiVersion: v1
kind: Service
metadata:
  name: customer
  labels:
    app: customer    
spec:
  type: LoadBalancer
  ports:
  - name: http
    port: 80
    targetPort: http
  selector:
    app: customer
    version: v1